<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleTableMapper">

    <resultMap type="DatahouseRoleTable" id="DatahouseRoleTableResult">
        <result property="roleId"     column="role_id"      />
        <result property="tableId"     column="table_id"      />
    </resultMap>

    <select id="checkTableExistRole" resultType="Integer">
        select count(1) from role_table where table_id = #{tableId}
    </select>

    <delete id="deleteRoleTableByRoleId" parameterType="Long">
        delete from role_table where role_id=#{roleId}
    </delete>

    <delete id="deleteRoleTable" parameterType="Long">
        delete from role_table where role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <insert id="batchRoleTable">
        insert into role_table(role_id, table_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.tableName})
        </foreach>
    </insert>

</mapper>
